.carousel-item{
    height: 100vh;
    min-height: 230px;
    background: no-repeat scroll center scroll;
    -webkit-background-size:cover;
    background-size: cover;
}
.carousel-item::before{
    content:"";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: black;
    opacity: .7;
}
.carousel-caption{
    bottom: 180px;
    padding-left: 100px;
    padding-right:100px ;
}
.carousel-caption h1{
    font-size: 80px;
}
.slider-btn .btn-btn-1{
    border-radius: 5px;
    padding: 10px 30px;
    font-size: 1rem;
    color: white;
    background-color: aqua;
    margin-right: 15px;
    font-size: medium;
    


}